/*General*/
/* § General*/

:root{
    --main_color_1: rgb(241, 241, 241);
    --main_text_color: rgb(0, 0, 0); 
    --main_font_paragraph: 1rem;
    --main_font_paragraph_mobile: 1rem;

    --navbar_height: 4rem;

}

html {
    box-sizing: border-box;
}
*, 
*::before
*::after{
    box-sizing: inherit; 
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
	overflow-x: scroll;
	background-color: var(--main_color_1);

	font-family: 'Source Sans Pro', sans-serif;
	font-family: "Source Sans 3", "Source Sans Pro", sans-serif;
    color: var(--main_text_color)
}


/* § Section General Classes*/

.section {

    padding: var(--navbar_height);

    text-align: center;
}

.section_divider{
    width: 80%;
    
}

.section_content_paragraph {
    max-width: 70%;
    margin: auto;
    
    font-size: var(--main_font_paragraph);
    text-align: justify;
    line-height: 1.5;

}

#front{
    height: calc(100vh - var(--navbar_height));

    background-image: url(../images/DSC00235.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#picture {
    height: 100vh;
    background-image: url(../images/DSC01317.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#iframe_spotify {
    border-radius: 12px;
    width: 70%; 
    height: 352px;
}


/*Section Specific Classes*/

#contact_iconbar{  

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". facebook youtube spotify .";
    gap: 1vw;  
    justify-items: center; 
    align-items: center;
}

#contact_iconbar_facebook{
    grid-area: facebook; 
}

#contact_iconbar_youtube{
    grid-area: youtube; 
}

#contact_iconbar_spotify{
    grid-area: spotify; 
}


/* Navbar Desktop */

.navbar_desktop {
    width: 100vw;
    height: var(--navbar_height);

    background-color: var(--main_color_1);

    position: fixed;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". heading about music contact .";
    gap: 1vw;  
    justify-items: center; 
    align-items: center;

}

.nav_desk_element {
    height: 100;
    text-decoration: none; 
    outline: none;
    line-height: 2rem;
}

#navbar_desktop_heading {
    grid-column: heading; 
}




.nav_desk_element:link,
.nav_desk_element:visited,
.nav_desk_element:focus {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}

.nav_desk_element:hover {
    background:rgb(207, 207, 207);
}

.nav_desk_element:active {
    background: rgb(226, 226, 226);
}


/*Navbar Mobile*/

.navbar_mobile {
    width: 100vw;
    height: var(--navbar_height);

    background-color: var(--main_color_1);

    position: fixed;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". heading .";
    gap: 1vw;  
    justify-items: center; 
    align-items: center;

    visibility: hidden; 

}

.nav_mob_element {
    text-decoration: none; 
    outline: none;
    line-height: 2rem;

    visibility: hidden; 
}

#navbar_mobile_heading {
    grid-column: heading; 
}




.nav_mob_element:link,
.nav_mob_element:visited,
.nav_mob_element:focus {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}

.nav_mob_element:hover {
    background:rgb(207, 207, 207);
}

.nav_mob_element:active {
    background: rgb(226, 226, 226);
}


/*MOBILE*/


@media screen and (max-width: 1024px) {
    
    .section_content_paragraph {
        max-width: 100%;

        font-size: var(--main_font_paragraph_mobile);
    }

    #front {
        height: calc(50vh - var(--navbar_height));
    }

    #picture {
        height: 50vh; 
    }
    
    #iframe_spotify {
        width: 100%;
    }

    .navbar_desktop {
        visibility: hidden;
    }

    .navbar_mobile {
        visibility: unset;
    }
    #navbar_mobile_heading {
        visibility: unset;
    }
}